stages:
  - build
  - test
  - lint

variables:
  GOPATH: $CI_PROJECT_DIR/.go

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .go/pkg/mod/

build:
  stage: build
  image: golang:1.21
  script:
    - make build
  artifacts:
    paths:
      - bin/

test:
  stage: test
  image: golang:1.21
  script:
    - go test -v ./...

lint:
  stage: lint
  image: golangci/golangci-lint:latest
  script:
    - golangci-lint run
  allow_failure: true
